* {
    margin: 0;
    padding: 0;
}

body {
    height: 98vh;
    background-color: rgb(26 27 38);
}

.code {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.code__wrapper {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 98%;
    margin: 10px auto;
}

.code__input-container {
    position: relative;
    height: 80vh;
    overflow: scroll;
    background-color: rgb(26 27 38);
    border: 1px solid #565f89;
}

.code__input-container::-webkit-scrollbar, .code__output-container::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.code__input-container::-webkit-scrollbar-thumb, .code__output-container::-webkit-scrollbar-thumb {
    background: rgb(247 118 142);
}

.code__input-container::-webkit-scrollbar-track, .code__output-container::-webkit-scrollbar-track {
    background: #d3393900;
}

.code__input-container::-webkit-scrollbar-corner, .code__output-container::-webkit-scrollbar-corner {
    background: #d3393900;
}

.code__input {
    position: absolute;
    display: block;
    overflow-x: auto;
    padding: 1em;
    z-index: 2;
}

.code__input {
    min-width: 250px;
    resize: none;
    background: none;
    border: none;
    outline: none;
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 13px;
    color: rgba(53, 235, 211, 0);
    caret-color: rgb(247 118 142);
}

.code__run-button {
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
    margin-right: 15px;
    background-color: rgb(26 27 38);
    border: 1px solid #565f89;
}

.code__run-button--active {
    border-color: rgb(125 207 255);
    box-shadow: 0 0 8px 1px rgb(125 207 255), inset 0 0 8px 1px rgb(125 207 255);
    transition: border-color 0.5s, box-shadow 3s ;
}

.code__run-button-header {
    color: #565f89;
}

.code__run-button-header--active {
    color: rgb(247 118 142);
    text-shadow: 0 0 10px #ff0000;
    transition: color 0.5s, text-shadow 3s ;
}

.code__output-label {
    color: rgb(187 154 247);
}



.code__run-output-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    height: 150px;
}

.code__output-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    overflow: scroll;
    height: 100%;
    width: 100%;
    border: 1px solid #565f89;
}

.code__console-output {
    width: 100%;
    height: 20%;
    color: rgb(158 206 106);
    border-bottom: 1px solid #565f89;
}