* {
    margin: 0;
    padding: 0;
}

body {
    height: 98vh;
    background-color: rgb(26 27 38);
}

.code {
    position: relative;
    height: 100%;
}

.code__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 98%;
    margin: 10px auto;
}

.code__input-container {
    position: relative;
    height: 80vh;
    overflow: scroll;
    background-color: rgb(26 27 38);
    border: 1px solid #565f89;
}

.code__input-container::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.code__input-container::-webkit-scrollbar-thumb {
    background: rgb(247 118 142);
}

.code__input-container::-webkit-scrollbar-track {
    background: #d3393900;
}

.code__input-container::-webkit-scrollbar-corner {
    background: #d3393900;
}

.code__input {
    position: absolute;
    display: block;
    overflow-x: auto;
    padding: 1em;
    z-index: 2;
}

.code__input {
    min-width: 250px;
    overflow-y: hidden;
    color: rgba(235, 53, 211, 0);
    caret-color: rgb(247 118 142);
}

.code__input table {
    all: unset !important;
}

.code__input tbody {
    all: unset !important;
}

.code__input td {
    all: unset !important;
}

.code__input tr {
    all: unset !important;
}

.code__input div {
    line-height: 15px !important;
    font-size: 13px !important;
    color: rgba(235, 53, 211, 0) !important;
    background-color: rgba(235, 53, 211, 0) !important;
}

.code__input span {
    color: rgba(235, 53, 211, 0) !important;
}

.code__input:focus {
    outline: none;
}

.code__input div br {
    display: block;
    height: 30.86px;
    content: "";
    clear: both;
}


.code__output {
    position: absolute;
    display: block;
    overflow-x: auto;
    padding: 1em;
}

.code__run-button {
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
    margin-right: 15px;
    border: 1px solid rgb(125 207 255);
    color: rgb(247 118 142);
    background-color: rgb(26 27 38);
    box-shadow: 0 0 8px 1px rgb(125 207 255), inset 0 0 8px 1px rgb(125 207 255);
}

.code__run-button-header {
    text-shadow: 0 0 10px #ff0000;
}

.code__output-label {
    color: rgb(187 154 247);
}

.code__output-container {
    height: 100%;
    width: 100%;

    border: 1px solid #565f89;
}

.code__run-output-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    height: 150px;
}